# ========================
# 1. 构建与编译产物 (Build & Compiled)
# ========================
build/
#CMakeCache.txt
#Makefile
*.o
*.a
*.so
*.so.*
*.dll
*.exe

# 可执行文件 (根据你的实际输出修改)
low_detection
low_detection_arm


# ========================
# 2. 临时文件与日志 (Temp & Logs)
# ========================
*.log
*.tmp
.cache/
.metadata/
log/


# ========================
# 3. IDE 与编辑器配置 (IDEs)
# ========================
.vscode/

# ========================
# 4. 点云与雷达数据 (Point Cloud & LiDAR)
# ========================
*.pcd
