#Exampleapplicationconfigurationfile
#new version 

version = "v6";
author = "zhouy";

application:
{
	#example for group
	lidar: {
		#0:Ls16_v4, 1:Ls128_s2, 2:LsCH64W, 3:Rs_helios_16p, 4:Rs_helios, 5:Rs_32,
		#6:Rs_80, 7:Rs_BP, 8:Rs_Airy96, 9:Rs_Fairy48, 10:Rs_Emx192
		lidar_type = 4;
		lidar_port = 2412;
		lidar_difop = 2413;
		iPacketNum = 150;
		isTransmit = false;		
		fLidar2Vehicle_Roll = 0.0;
		fLidar2Vehicle_Pitch = 0.0;
		fLidar2Vehicle_Heading = -89.888;
		fLidar2Vehicle_X = 4.4 ;//base lidar to vehicle in x axies
        fLidar2Vehicle_Y = 0.82;//base lidar to vehicle in y axies
		fGroundHeight = -2.04;
	    fLeftCurb = [20.0, 5.0, 0.0, -10.0, 5.0, 0.0];    //[x y z -x y z]
		fRightCurb = [20.0, -5.0, 0.0, -10.0, -5.0, 0.0]; //[x -y z -x -y z] 
		fComBinePara = [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,0.0, 0.0, 1.0, 0.0];   
		isMulticast = 0;
		sDestIP = ["224.0.0.3"]; 
		sTransmitDestIP = ["192.168.86.88"];           
	};

	filter:
	{
		z_max_threshold = 1.5;
		fMinIntensity = 10.0;
		car_x_min_threshold = -0.9;
		car_x_max_threshold =  0.8;
		car_y_min_threshold = -0.5;
		car_y_max_threshold = 0.5;
	};

	object:
	{
		fMaxDetectDistance = 70.0;//m
		iImageWidth = 800;
		iImageHeight = 300;
		iImageCenterX = 100;
		iImageCenterY = 150;
		fPixelScale = 0.1;
		iMinContourSize = 2;
		iMaxObjNum = 32;
		fNearRoi = [-5.0, 20.0, -5.0, 5.0];//[-x, x, -y, y 
		fFarRatio = 2.0;
		fNearMinHeightDiff = 0.1;
		fFarMinHeightDiff = 0.2;
		fAroundCarRoi = [-6.0, 6.0, -3.0, 3.0];//[-x, x, -y, y 
		iAroundCarPointsTh = 15;
		fCloudDensityTh = 2.0;
		iMinTrackNum = 5;
		iUseBackground = 0;
		iSaveObjects = 0;
	};

	rsairy:
	{
		iInstallType = 1;
		fMaxFilterDis = 20.0;
		fMinFilterDis = 0.0;
		isFilterGround = 0;
		fFilterGroundRange = 0.5;
	};

	pmf:
	{
		isCreateGround = 0;
		fPitchError = 0.0;
		fHeightError = 0.0;
	};
};
